*.log
.DS_Store
/node_modules
/packages/*/node_modules
/packages/common/src/version.ts
.cache
dist
coverage/
/.npm-cache
/dist-tarballs

**/repomix-output.{txt,xml}

**/__diff_output__/**

.idea/*
.claude/
